*.DS_Store
._.DS_Store
*.pyc
*.exo
*.exo.*
*.log
*.bak
*.xml
*._*
*~
*-Host.memspace_usage
*.mem_events
build*
MILO.profile
*.sh
*.slurm
*.dat
*.out
*.err
mrhyde

# regression/sandbox specific
!regression/**/*.xml
!sandbox/**/*.xml
regression/**/mrhyde.results
