%YAML 1.1
---
# Solve deck for tracking-target thermal LQ control.
# OTHER_DECKS_DIR selects exact vs fd HessVec path.
# GAMMA is the L2 control regularization weight.
ANONYMOUS:
  debug level: 0
  verbosity: 0
  Mesh:
    dimension: 3
    element type: hex
    xmin: 0.0
    xmax: 1.0
    ymin: 0.0
    ymax: 1.0
    zmin: 0.0
    zmax: 1.0
    NX: NELEM
    NY: NELEM
    NZ: NELEM
    Xprocs: 2
    Yprocs: 2
    Zprocs: 1
  Physics:
    modules: thermal
    active controls: true
    Initial conditions:
      T: '0.0'
    Dirichlet conditions:
      T:
        all boundaries: '0.0'
  Discretization:
    order:
      T: 1
    quadrature: 2
  Parameters input file: OTHER_DECKS_DIR/input_params.yaml
  Functions input file: OTHER_DECKS_DIR/input_functions.yaml
  Analysis input file: ../../rol_decks/rol_solve.yaml
  Solver:
    solver: steady-state
    workset size: 100
    linear TOL: 1.0e-14
    max linear iters: 200
    nonlinear TOL: 1.0e-12
    max nonlinear iters: 3
    use preconditioner: true
  Postprocess:
    write solution: false
    compute objective: true
    Extra fields:
      ctrl: 'ctrl_source'
      T_unctrl: 'sin(2*pi*x)*sin(2*pi*y)*sin(2*pi*z)'
    Objective functions:
      Thermal Tracking:
        type: integrated control
        function: '0.5*(T-trk_gate*1.0)*(T-trk_gate*1.0)'
        weight: 1.0
      RegObj:
        type: integrated control
        function: '0.0'
        weight: 0.0
        Regularization functions:
          l2reg:
            type: integrated
            location: volume
            function: '0.5*ctrl_source*ctrl_source'
            weight: GAMMA
...
